body {
    margin: 0 !important;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.home-image-container {
    height: 100%;
    width: 100%;
    background-image: url(../assets/vortexBlack.JPG);
    background-size: contain;
    background-position-x: center;
}

.dropdown-toggle::after {
    display: none !important;
}

.dropdown-toggle {
    background-color: white;
}

.dropdown-button {
    background-color: aqua;
}
